body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

/* For tablets */
@media only screen and (min-width: 601px) {
    .col-m-1 {width: 50%;}
    .col-m-2 {width: 100%;}
    header, footer, .content-column {background-color: #5f9ea0;}
    body {background-color: #5f9ea082;}
}

/* For desktop */
@media only screen and (min-width: 901px) {
    .col-1 {width: 33.33%;}
    .col-2 {width: 66.66%;}
    .col-3 {width: 100%;}
    header, footer, .content-column {background-color: #606f80;}
    body {background-color: #606f8081;}
}
